/* Wildcard */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  background-color: lightblue;
}
main {
  width: 80%;
  margin: auto;
  background-color: lightgreen;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightcoral;
}
p {
  padding: 1em;
}
